/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";


header {
    background-color: transparent;
}

.logo{
    height: 27px;
}

.nav {
    background-color: transparent;
}

.banner{
    background: linear-gradient(141deg, #00a171 0%, #00e0da 100%);
}
